.title-container{
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}
h2{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.top-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.middle-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottom-container{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.grid-container{
    justify-content: space-between;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: auto;
    display: inline-block;
    border: none;
    border-radius: 30px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn{
    font-size: 20px;
    background-color: aquamarine;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}